---
import Nav from "../components/Nav.astro";

const siteData = {
    title: "Coffee Website",
    description: "**Welcome to Our Coffee Haven!** Indulge in freshly brewed coffee at our cozy corner. Crafted by skilled baristas, our irresistible brews range from velvety lattes to robust espressos. Explore ethically sourced beans from Colombian hills to Ethiopian highlands. Order online and let the aroma transport you. 🌟☕",
};
const {title = siteData.title, description = siteData.description} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="max-w-[2000px] mx-auto text-text">
        <Nav />
		<slot />
	</body>
</html>